# 복합 자료형

## 리스트

In [ ]:
li1 = [1, 2.0, '3']

type(li1) # list
dir(li1)

In [ ]:
li2 = [1, 3, 5, 3]

li2

In [ ]:
# len()
print(len(li2)) # 4

In [ ]:
[li1, li2] # [[1, 2.0, '3'], [1, 3, 5, 3]]

len([li1, li2]) # 2

- 리스트 연산자
    - in 키워드 오른쪽에 리스트 같이 반복 가능한 객체가 오면(이터러블)왼쪽에는 원소가 와야 함
    - 이터러블 : 리스트, 튜플, 넘파이 배열, 판다스 시리즈 등

In [ ]:
print(li1 + li2) # [1, 2.0, '3', 1, 3, 5, 3]
print(li2 * 2) # [1, 3, 5, 3, 1, 3, 5, 3]
print(1 in li1) # True
print(3 in li1) # False

- 리스트 인덱싱

In [ ]:
li3 = [1, 2, '3', '4', ['가', '나', '다']]

print(li3[0]) # 1
print((li3[2])) # 3 (type = str)
print(li3[-1]) # ['가', '나', '다']

- 리스트 슬라이싱

In [ ]:
li3[:4] # [1, 2, '3', '4']
li3[4:] # [['가', '나', '다']]

li3[4:][0][0] # '가'
li3[4][0] # '가'

In [ ]:
# 리스트는 대괄호 안에 정수 인덱스 또는 슬라이스만 가능, 리스트는 불가
# li[[0, 2]] # 팬시 인덱싱 불가능
[li3[0], li3[2]] # [1, '3']

### range

In [ ]:
ints = range(6)

print(ints)
print(type(ints))
# range(0, 6)
# <class 'range'>

In [ ]:
list(range(6))
# [0, 1, 2, 3, 4, 5]

list(range(1, 6))
# [1, 2, 3, 4, 5]

list(range(1, 6, 2))
# [1, 3, 5]

### 이중 콜론 연산자

In [ ]:
li4 = list(range(6))

li4[1:4:2] # [1, 3]
li4[:4:2] # [0, 2]
li4[1::2] # [1, 3, 5]
li4[::2] # [0, 2, 4]

### 리스트 원소 추가

- 리스트에 업데이트 하고 None 반환 -> 재할당 X

- list.append(x)
- list.extend(iter)
- list.insert(idx, x)

In [ ]:
li4.append(6)
print(li4) # [0, 1, 2, 3, 4, 5, 6]

In [ ]:
# append 메서드로는 한 번에 하나만 추가할 수 있음
li4.append([7, 8])
print(li4) # [0, 1, 2, 3, 4, 5, 6, [7, 8]]

In [ ]:
# 개별로 추가 필요 시
li4.append(7)
li4.append(8)

# 리스트 결합은 원본 데이터에 반영하지 않으므로 원본에 반영하고 싶으면 재할당 필요
li4 = li4 + [7, 8]

# append 및 extend 메서드는 원본 리스트에 반영하므로 재할당하면 안됨

In [ ]:
# extend 메서드에는 리스트와 같은 반복 가능한 객체를 인수로 넣고 리스트의 원소를 일괄 추가함
li4.extend([7, 8])
print(li4) # [0, 1, 2, 3, 4, 5, 6, [7, 8], 7, 8]

In [ ]:
li4.insert(1, [7, 8])
print(li4) # [0, [7, 8], 1, 2, 3, 4, 5, 6, [7, 8], 7, 8]

### 리스트 원소 삭제

- list.remove()
- list.pop()

In [ ]:
li4 # [0, [7, 8], 1, 2, 3, 4, 5, 6, [7, 8], 7, 8]
li4.count([7, 8]) # 2

In [ ]:
# 반복문으로 특정 원소 삭제
n = li4.count([7, 8])

for i in range(n):
    li4.remove([7, 8])

li4 # [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 인덱스 지정해서 삭제
li4.pop(6)
li4 # [0, 1, 2, 3, 4, 5, 7, 8]

In [ ]:
# 인덱스 지정 생략 시 마지막 원소 삭제
li4.pop()
li4 # [0, 1, 2, 3, 4, 5, 7]

### 리스트 원소 변경

In [ ]:
# 인덱싱으로 변경
li4[0] = 6
li4 # [6, 1, 2, 3, 4, 5, 7]

li4[1] = [1, 2]
li4 # [6, [1, 2], 2, 3, 4, 5, 7]

In [ ]:
# 슬라이싱으로 변경
li4[1:3] = [2, 1]
li4 # [6, 2, 1, 3, 4, 5, 7]

# 원소의 개수가 달라도 가능
li4[3:4] = [3, 0]
li4 # [6, 2, 1, 3, 0, 4, 5, 7]

In [ ]:
# 리스트 슬라이싱 결과 리스트가 반환되는데 거기에 정수 스칼라를 할당하면 에러 발생
# li4[4:5] = 1

### 리스트 원소 정렬

- list.sort()
- list.reverse()

In [ ]:
# 리스트 원소의 자료형이 수와 문자열 등으로 섞여 있으면 대소 비교가 불가능하므로 정렬할 수 없음
li4 # [6, 2, 1, 3, 0, 4, 5, 7]

li4.sort()
li4 # [0, 1, 2, 3, 4, 5, 6, 7]

# 내림차순 정렬
li4.sort(reverse=True)
li4 # [7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
li1 # [1, 2.0, '3']

li1.reverse()
li1 # ['3', 2.0, 1]

In [ ]:
li2 # [1, 3, 5, 3]
sorted(li2) # [1, 3, 3, 5]
li2 # [1, 3, 5, 3]

li2 = sorted(li2)
li2 # [1, 3, 3, 5]

## 튜플

In [ ]:
tup = (1, 2.0, '3')
type(tup) # tuple
dir(tup)

In [ ]:
# 할당 시 에러 발생
tup[2] # '3'
tup[2] = 3
# TypeError: 'tuple' object does not support item assignment

In [ ]:
# 튜플 원소 변경
tup = list(tup)
type(tup) # list

tup[2] = 3
tup # [1, 2.0, 3]

tup = tuple(tup)
type(tup) # tuple
tup # (1, 2.0, 3)

## 집합

In [ ]:
set1 = {3, 1, 2, 1}

set1 # {1, 2, 3}
type(set1) # set
dir(set1)

In [ ]:
# 집합은 인덱스가 없으므로 인덱싱 불가
set1[0]
# TypeError: 'set' object is not subscriptable

In [ ]:
li2 # [1, 3, 5, 3]
set2 = set(li2)
set2 # {1, 3, 5}

In [ ]:
# 교잡헙
set1 & set2 # {1, 3}

# 합집합
set1 | set2 # {1, 2, 3, 5}

# 차집합
set1 - set2 # {2}

## 딕셔너리

In [ ]:
dct = {'item': 'pants', 'size': 'XL'}
dct # {'item': 'pants', 'size': 'XL'}

dct_1 = dict(item='pants', size='XL')
dct_1 # {'item': 'pants', 'size': 'XL'}

In [ ]:
# 딕셔너리의 키는 정수, 실수, 문자열 가능
dct_2 = {0: 1, 1: 2.0, 3:'3'}
dct_2 # {0: 1, 1: 2.0, 3: '3'}

# dict 클래스를 사용할 때 키는 문자열만 가능
# dct_3 = dict(0=1, 1=2.0, 2='3')
# SyntaxError: expression cannot contain assignment, perhaps you meant "=="?

In [ ]:
type(dct) # dict
dir(dct)

In [ ]:
dct.keys() # dict_keys(['item', 'size'])

In [ ]:
'item' in dct # True
'shop' in dct # False

# 딕셔너리에 없는 키를 대괄호 안에 지정하면 에러 발생
dct['item'] # 'pants'
dct['shop'] # KeyError

### 딕셔너리 원소 추가, 삭제 및 변경

In [ ]:
# 원소의 추가
dct['shop'] = 'A1'
dct # {'item': 'pants', 'size': 'XL', 'shop': 'A1'}

In [ ]:
# 키, 값 삭제
del dct['item']
dct # {'size': 'XL', 'shop': 'A1'}

In [ ]:
# 값 변경
dct['shop'] = 'A2'
dct # {'size': 'XL', 'shop': 'A2'}

## 조건문

- input()

In [ ]:
score = input('점수 :') # 100
score # '100'

In [ ]:
score = float(score)
score # 100.0
score >= 100 # True

In [ ]:
if score >= 90:
    print('합격')

if score >= 90: print('합격')

In [ ]:
score = float(input('점수 :'))

if score >= 90:
    print('합격')
elif score >= 80:
    print('재검사')
else:
    print('불합격')

### 리스트로 비교 연산 실행

In [ ]:
scores = list(range(60, 101, 10))
scores # [60, 70, 80, 90, 100]

In [ ]:
scores >= 90
# TypeError: '>=' not supported between instances of 'list' and 'int'

scores[0] >= 90 # False

In [ ]:
if scores[0] >= 90:
    print('합격')
elif scores[0] >= 80:
    print('재검사')
else:
    print('불합격')

In [ ]:
for i in range(len(scores)):
    if scores[i] >= 90:
        print(f'{i} : 합격')
    elif scores[i] >= 80:
        print(f'{i} : 재검사')
    else:
        print(f'{i} : 불합격')
# 0 : 불합격
# 1 : 불합격
# 2 : 재검사
# 3 : 합격
# 4 : 합격

### 삼항연산자

In [ ]:
'합격' if scores[0] >= 90 else '재검사'

In [ ]:
'합격' if scores[0] >= 90 else '재검사' if scores[0] >= 80 else '불합격'

## for 반복문

In [ ]:
menu = ['짜장면', '탕수욕', '깐풍기', '짬뽕밥', '전가복', '샥스핀']

for item in menu:
    print(item, '시킬까요?')
# 짜장면 시킬까요?
# 탕수욕 시킬까요?
# 깐풍기 시킬까요?
# 짬뽕밥 시킬까요?
# 전가복 시킬까요?
# 샥스핀 시킬까요?

### 반복문에 조건문 추가

In [ ]:
for item in menu:
    print(item, '시킬까요?')
    if item in ['짜장면', '짬뽕밥']:
        print('-> 요리부터 주문합시다!')
    print('-> 다음 메뉴는 뭔가요?\n')

### 반복문 제어 - continue

In [ ]:
for item in menu:
    print(item, '시킬까요?')
    if item in ['짜장면', '짬뽕밥']:
        continue
    print('-> 다음 메뉴는 뭔가요?\n')

### 반복문 제어 - break

In [ ]:
for item in menu:
    print(item, '시킬까요?')
    if item in ['전가복', '샥스핀']:
        break
    print('-> 다음 메뉴는 뭔가요?\n')

### 중첩 for문

In [ ]:
for i in range(2, 10):
    print(f'=== {i} 단 ===')
    for j in range(1, 10):
        print(f'{i} X {j} = {i * j}')
    print()
print('반복문 실행 완료')

### 반복문 실행 결과를 리스트로 생성

In [ ]:
nums = range(1, 11)
sqrs = []

for i in nums:
    sqrs.append(i ** 2)

sqrs # [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
nums = range(1, 11)
sqrs = []

for i in nums:
    if i % 2 == 0:
        sqrs.append(i ** 2)

sqrs # [4, 16, 36, 64, 100]

In [ ]:
nums = range(1, 11)
sqrs = []

for i in nums:
    if i % 2 == 0:
        sqrs.append(i ** 2)
    else:
        sqrs.append(i * 2)

sqrs # [2, 4, 6, 16, 10, 36, 14, 64, 18, 100]

### 리스트 컴프리헨션

In [ ]:
[i ** 2 for i in nums]

In [ ]:
[i ** 2 for i in nums if i % 2 == 0]

In [ ]:
[i ** 2 if i % 2 == 0 else i * 2 for i in nums]

### enumerate

In [ ]:
# enumerate() : 이터러블 객체의 인덱스와 원소를 튜플로 묶어서 반환
for idx, value in enumerate(menu):
    print(f'{idx + 1}번째 메뉴는 {value}입니다.')
# 1번째 메뉴는 짜장면입니다.
# 2번째 메뉴는 탕수욕입니다.
# 3번째 메뉴는 깐풍기입니다.
# 4번째 메뉴는 짬뽕밥입니다.
# 5번째 메뉴는 전가복입니다.
# 6번째 메뉴는 샥스핀입니다.

In [ ]:
# 여러개의 이터러블 객체들에서 같은 인덱스 원소를 튜플로 묶어서 차례대로 반환
price = [10000, 20000, 28000, 11000, 60000, 60000]

for i, j in zip(menu, price):
    print(f'{i}의 가격은 {j:,}원 입니다.')
# 짜장면의 가격은 10,000원 입니다.
# 탕수욕의 가격은 20,000원 입니다.
# 깐풍기의 가격은 28,000원 입니다.
# 짬뽕밥의 가격은 11,000원 입니다.
# 전가복의 가격은 60,000원 입니다.
# 샥스핀의 가격은 60,000원 입니다.

In [ ]:
for i, v in enumerate(menu, start=1):
    print(f'{i+1}번째 메뉴는 {v}입니다.')
# 2번째 메뉴는 짜장면입니다.
# 3번째 메뉴는 탕수욕입니다.
# 4번째 메뉴는 깐풍기입니다.
# 5번째 메뉴는 짬뽕밥입니다.
# 6번째 메뉴는 전가복입니다.
# 7번째 메뉴는 샥스핀입니다.

In [ ]:
for (idx, vlaue), p in zip(enumerate(menu), price):
    print(f'{idx + 1}번째 메뉴는 {vlaue}이고, 가격은 {p:,}원 입니다.')
# 1번째 메뉴는 짜장면이고, 가격은 10,000원 입니다.
# 2번째 메뉴는 탕수욕이고, 가격은 20,000원 입니다.
# 3번째 메뉴는 깐풍기이고, 가격은 28,000원 입니다.
# 4번째 메뉴는 짬뽕밥이고, 가격은 11,000원 입니다.
# 5번째 메뉴는 전가복이고, 가격은 60,000원 입니다.
# 6번째 메뉴는 샥스핀이고, 가격은 60,000원 입니다.

### 반복문에서 에러 발생

In [ ]:
for i in nums:
    if i % 3 == 0:
        i = str(i)
    print(i ** 2)
# TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
for i in nums:
    try:
        if i % 3 == 0:
            i = str(i)
        print(i ** 2)
    except:
        print('에러 발생')
# 1
# 4
# 에러 발생
# 16
# 25
# 에러 발생
# 49
# 64
# 에러 발생
# 100

In [ ]:
for i in nums:
    try:
        if i % 3 == 0:
            i = str(i)
        print(i ** 2)
    except Exception as e: # 에러 메시지를 출력하도록 설정
        print(e)
# 1
# 4
# unsupported operand type(s) for ** or pow(): 'str' and 'int'
# 16
# 25
# unsupported operand type(s) for ** or pow(): 'str' and 'int'
# 49
# 64
# unsupported operand type(s) for ** or pow(): 'str' and 'int'
# 100

## while문

In [ ]:
i = 5
while i >= 0:
    print(i)
    i -= 1
# 5
# 4
# 3
# 2
# 1
# 0

In [ ]:
while True:
    i += 1
    if i >= 10000:
        break
print(i) # 10000

## 사용자 정의 함수

In [ ]:
def bmi(hgt, wgt):
    bmi = wgt / (hgt / 100) ** 2
    return bmi

# 함수 괄호 안에 매개변수와 전달인수를 등호로 연결하는 코드
bmi(hgt=178, wgt=70)
# 함수 괄호 안에 전달인수만 입력한 코드(순서가 바뀌면 결과도 바뀜)
# 매개변수를 추가할 수 없는 인수도 있고, 매개변수를 생략하면 안되는 인수도 있음
bmi(178, 70)

In [ ]:
# 기본값 및 독스트링 추가
# Hinting
# 전달인수의 기본값이 없는 매개변수는 왼쪽에, 있는 매개변수는 오른쪽에 놓아야 함
def bmi(hgt, wgt:float=70) -> float:
    '''
    This function returns bmi from weight(kg) and height(cm)
    '''
    return wgt / (hgt / 100) ** 2

In [ ]:
bmi()

### lambda

In [ ]:
(lambda hgt, wgt: wgt / (hgt / 100) ** 2)(175, 70)

bmi2 = lambda hgt, wgt: wgt / (hgt / 100) ** 2
bmi2(175, 70)

### map()

In [ ]:
# map() : 첫 번째 인수는 반복 실행할 함수(람다 표현식) 두 번째 인수는 반복 실행할 범위 -> map 객체 반환(list 변환해야 확인 가능)

sqrs = map(lambda x: x**2, nums)
list(sqrs) # [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### filter()

In [ ]:
result = filter(lambda x: x % 2 == 0, nums)
list(result) # [2, 4, 6, 8, 10]

### 내장 함수명과 중복 문제

In [ ]:
# 전역 변수 목록 확인방법(쥬피터 노트북 매직 명령어)
%whos

# 특정 타입만 확인 -v 다음에 Type 추가
%whos -v list

In [ ]:
# 지역 변수, 전역 변수, 내장 함수 순으로 실행
sum(nums) # 55

def sum(x, y=0):
    for i in x:
        y -= i
    return y

sum(nums) # -55

In [ ]:
# 전역 변수 삭제
del sum

sum(nums) # 55

### 가변 매개변수 : 위치 인수

In [ ]:
def printArgs(*args):
    for i in args:
        print(i)

printArgs(1, 2, 3)
# 1
# 2
# 3

In [ ]:
# product()
# 지정한 수를 모두 곱하여 반환

def product(*args):
    x = 1
    for i in args:
        x *= i
    return x

In [ ]:
product(3, 5, 2, 7, 10)

In [ ]:
# 지정한 정수를 3으로 나눈 나머지를 리스트로 반환하는 함수

def product_2(*args):
    return [i % 3 for i in args]

In [ ]:
product_2(5, 6, 10, 11)

### 가변 매개변수 : 키워드 인수

In [ ]:
dct = dict(메뉴='순대국', 가격=9000, 평점=4.5)

In [ ]:
def printKwargs(**kwargs):
    for k, v in kwargs.items():
        print(f'{k}: {v}')

printKwargs(메뉴='순대국', 가격=9000, 평점=4.5, 위치='창동')
# 메뉴: 순대국
# 가격: 9000
# 평점: 4.5
# 위치: 창동

In [ ]:
# 키워드 가변인수를 받아 과목별 점수의 평균 계산
def my_avg(**kwargs):
    return sum(kwargs.values()) / len(kwargs)

In [ ]:
my_avg(국어=100, 수학=98, 영어=82)

### 모듈 생성

In [ ]:
# 모듈 전체 불러오기
import project.code.python_basic.myFuncs as myFuncs

# 별칭으로 모듈 불러오기
import project.code.python_basic.myFuncs as mf

# 원하는 일부 함수만 가져오기
from project.code.python_basic.myFuncs import bmi

In [ ]:
myFuncs.bmi(175, 70)
mf.bmi(175, 70)
bmi(175, 70)

## 참조 바인딩

- 참조 : 변수가 객체를 가리키는 것
- 참조 바인딩 : 두 변수가 같은 객체를 참조하는 것
- 얕은 복사
- 참조 반복
- 깊은 복사

In [1]:
a = [[1, 2], [3, 4]]

In [ ]:
# 참조 바인딩은 원본을 유지할 수 없음
b = a

b[0] = 9

print(b) # [9, [3, 4]]
print(a) # [9, [3, 4]]

[9, [3, 4]]
[9, [3, 4]]

### 얕은 복사

In [4]:
a = [[1, 2], [3, 4]]

In [8]:
# 변수 a를 얕은 복사 : 컨테이너만 새로 만들고 내부 구조는 그대로 유지
b = a.copy()

In [6]:
# b의 첫 번째 원소를 변경하면 b만 변경
# b는 참조를 바꾸고 a는 유지

### 참조 반복

- 컨테이너를 새로 만들지만, 내부 구조를 그대로 유지한 상태로 반복

In [9]:
a = [[1, 2], [3, 4]]

In [ ]:
b = a * 2

print(a) # [[1, 2], [3, 4]]
print(b) # [[1, 2], [3, 4], [1, 2], [3, 4]]

[[1, 2], [3, 4]]
[[1, 2], [3, 4], [1, 2], [3, 4]]

In [ ]:
b[0][0] = 9

print(a) # [[9, 2], [3, 4]]
print(b) # [[9, 2], [3, 4], [9, 2], [3, 4]]

[[9, 2], [3, 4]]
[[9, 2], [3, 4], [9, 2], [3, 4]]

### 깊은 복사

- copy :

In [13]:
import copy