# 데이터 시각화

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
os.getcwd()

'/Users/taehyunan/Desktop/Repo/SeSAC/Study/sesac_python_study_repo/project/code/data_basic'

In [4]:
os.chdir('../../data')

In [5]:
sorted(os.listdir())

['.DS_Store',
 'APT_Data_Prep.csv',
 'APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_Price.pkl',
 'APT_Price_Seoul_Merged_2020~2024.csv',
 'APT_Price_Seoul_Merged_2020~2024.xlsx',
 'APT_Price_Seoul_Split_2020.csv',
 'APT_Price_Seoul_Split_2020~2024.xlsx',
 'APT_Price_Seoul_Split_2021.csv',
 'APT_Price_Seoul_Split_2022.csv',
 'APT_Price_Seoul_Split_2023.csv',
 'APT_Price_Seoul_Split_2024.csv',
 'Marine_Product.csv',
 'Marine_Product.pkl',
 'Marine_Product.xlsx',
 'NA_Sample.xlsx']

In [6]:
apt = pd.read_csv(
    'APT_Data_Prep.csv',
    low_memory=False,
    parse_dates=['계약일자']
)

In [7]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,경과년수,재건축,계약일자,세대수,주차대수
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,28,부족,2020-01-31,822,700
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,16,부족,2020-01-06,212,502
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,37,충족,2020-01-14,1060,300
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,1,부족,2020-01-04,1320,2120
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,37,충족,2020-01-12,1060,300

In [8]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220890 entries, 0 to 220889
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   거래금액    220890 non-null  float64
 1   단지명     220890 non-null  object
 2   시도명     220890 non-null  object
 3   시군구     220890 non-null  object
 4   법정동     220890 non-null  object
 5   지번      220890 non-null  object
 6   입주년도    220890 non-null  int64
 7   계약년도    220890 non-null  int64
 8   계약월     220890 non-null  int64
 9   계약일     220890 non-null  int64
 10  전용면적    220890 non-null  float64
 11  층       220890 non-null  int64
 12  경과년수    220890 non-null  int64
 13  재건축     220890 non-null  object
 14  계약일자    220890 non-null  datetime64[ns]
 15  세대수     220890 non-null  int64
 16  주차대수    220890 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(6)
memory usage: 28.6+ MB

## 데이터 정렬

In [10]:
apt['층'].sort_values()

164688    -3
74987     -3
74749     -3
53686     -2
215961    -2
          ..
1234      67
210647    67
167916    68
210139    68
133835    68
Name: 층, Length: 220890, dtype: int64

In [11]:
apt['층'].sort_values(ascending=False)

133835    68
210139    68
167916    68
210647    67
1234      67
          ..
53593     -2
75151     -2
164688    -3
74987     -3
74749     -3
Name: 층, Length: 220890, dtype: int64

In [12]:
apt.sort_values(by=['층', '거래금액'], ascending=False)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,경과년수,재건축,계약일자,세대수,주차대수
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.622,68,19,부족,2023-12-22,480,1785
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.622,68,20,부족,2024-07-30,480,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.440,68,21,부족,2024-04-11,466,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.740,67,16,부족,2020-07-25,480,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.200,67,21,부족,2024-10-14,466,1192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75151,9.47,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,1,101.990,-2,10,부족,2020-07-01,472,855
23719,6.77,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020,7,2,84.780,-2,6,부족,2020-07-02,1018,1364
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,29,101.490,-3,13,부족,2023-07-29,472,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,23,134.510,-3,10,부족,2020-07-23,472,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,20,134.510,-3,10,부족,2020-03-20,472,855

In [13]:
apt.sort_values(by=['층', '거래금액'], ascending=[False, True])

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,경과년수,재건축,계약일자,세대수,주차대수
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.440,68,21,부족,2024-04-11,466,1192
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.622,68,19,부족,2023-12-22,480,1785
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.622,68,20,부족,2024-07-30,480,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.200,67,21,부족,2024-10-14,466,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.740,67,16,부족,2020-07-25,480,1785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215961,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,10,240.230,-2,13,부족,2024-04-10,600,1732
215963,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,10,240.230,-2,13,부족,2024-04-10,600,1732
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,20,134.510,-3,10,부족,2020-03-20,472,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,23,134.510,-3,10,부족,2020-07-23,472,855
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,29,101.490,-3,13,부족,2023-07-29,472,855

## 집계함수로 데이터 요약

In [14]:
apt['거래금액'].count()

np.int64(220890)

In [15]:
apt['거래금액'].sum()

np.float64(2233577.912)

In [16]:
apt['거래금액'].mean()

np.float64(10.111720367603784)

In [17]:
apt['거래금액'].std()

np.float64(7.461395885878631)

### agg 메서드

#### 시리즈

In [19]:
apt['거래금액'].agg(func=['count', 'sum', 'mean', 'std'])
# count    2.208900e+05
# sum      2.233578e+06
# mean     1.011172e+01
# std      7.461396e+00
# Name: 거래금액, dtype: float64

count    2.208900e+05
sum      2.233578e+06
mean     1.011172e+01
std      7.461396e+00
Name: 거래금액, dtype: float64

In [ ]:
apt['거래금액'].agg(func={'개수': 'count','합계': 'sum','평균': 'mean','표준편차': 'std'})
# 개수      2.208900e+05
# 합계      2.233578e+06
# 평균      1.011172e+01
# 표준편차    7.461396e+00
# Name: 거래금액, dtype: float64

개수      2.208900e+05
합계      2.233578e+06
평균      1.011172e+01
표준편차    7.461396e+00
Name: 거래금액, dtype: float64

#### 데이터프레임

In [ ]:
apt.select_dtypes(include='number').agg(func=['mean', 'std'])
# 거래금액	입주년도	계약년도	계약월	계약일	전용면적	층	경과년수	세대수	주차대수
# mean	10.111720	2002.322215	2021.735869	6.221241	15.823908	75.471219	9.534578	19.413654	1065.668079	1175.280823
# std	7.461396	10.396538	1.643023	3.134888	8.666083	30.573625	6.370747	10.336370	1253.131045	1614.546846

,거래금액,입주년도,계약년도,계약월,계약일,전용면적,층,경과년수,세대수,주차대수
mean,10.111720,2002.322215,2021.735869,6.221241,15.823908,75.471219,9.534578,19.413654,1065.668079,1175.280823
std,7.461396,10.396538,1.643023,3.134888,8.666083,30.573625,6.370747,10.336370,1253.131045,1614.546846

## 범주별 집계 함수 groupby

In [25]:
apt.groupby(by='시군구')['거래금액'].count().sort_values(ascending=False)

시군구
노원구     19204
송파구     14186
강서구     13610
강남구     12291
성북구     11995
강동구     11958
구로구     10966
영등포구    10486
서초구      9963
성동구      9228
동대문구     9181
은평구      9064
양천구      9032
마포구      8888
동작구      8325
도봉구      8323
서대문구     7958
중랑구      7094
관악구      6911
강북구      4875
광진구      4176
용산구      4023
금천구      3976
중구       3119
종로구      2058
Name: 거래금액, dtype: int64

In [27]:
apt.groupby(by='시군구')['거래금액'].mean().sort_values(ascending=False)

시군구
서초구     20.950252
강남구     20.857690
용산구     18.848251
송파구     15.085365
성동구     13.157811
광진구     11.732837
마포구     11.534964
동작구     10.682978
양천구     10.337557
영등포구    10.171240
중구       9.662983
종로구      9.577780
강동구      9.412720
서대문구     8.549396
성북구      7.562147
동대문구     7.494808
강서구      7.405147
은평구      6.953201
관악구      6.696174
구로구      6.309918
강북구      5.881168
노원구      5.877245
중랑구      5.766280
금천구      5.631871
도봉구      5.128583
Name: 거래금액, dtype: float64

In [28]:
apt.groupby(by='시군구')['거래금액'].std().sort_values(ascending=False)

시군구
용산구     14.509330
강남구     12.250572
서초구     11.865258
성동구      7.101933
송파구      6.670270
영등포구     6.248346
종로구      6.029280
양천구      5.769617
광진구      5.201233
중구       4.937569
마포구      4.521971
강동구      4.219959
동작구      3.826730
서대문구     3.436874
동대문구     3.174660
강서구      3.153165
구로구      2.760141
은평구      2.752876
관악구      2.534916
금천구      2.529002
중랑구      2.447471
성북구      2.327854
노원구      2.229932
강북구      2.092242
도봉구      2.042960
Name: 거래금액, dtype: float64

In [29]:
cond = apt['시군구'].eq('강남구')
apt[cond].groupby(by='법정동')['거래금액'].mean().sort_values(ascending=False)

법정동
압구정동    37.765170
대치동     25.811387
도곡동     24.632833
청담동     23.732262
삼성동     20.315832
개포동     19.995024
일원동     19.553436
역삼동     15.795479
자곡동     13.822572
수서동     13.211065
세곡동     13.112458
논현동     13.021457
율현동     12.320000
신사동     11.055684
Name: 거래금액, dtype: float64

In [30]:
apt[cond].groupby(by='법정동')['거래금액'].std().sort_values(ascending=False)

법정동
청담동     17.455758
압구정동    14.176322
삼성동     13.158208
도곡동     11.895966
대치동     11.436065
신사동     11.032108
역삼동      9.694179
논현동      8.678546
개포동      7.588131
일원동      5.988990
수서동      4.853212
자곡동      3.590218
율현동      2.331934
세곡동      1.757467
Name: 거래금액, dtype: float64

### groupby + agg

In [31]:
apt.groupby(by='시군구')['거래금액'].agg(func=['mean', 'std'])

           mean        std
시군구
강남구   20.857690  12.250572
강동구    9.412720   4.219959
강북구    5.881168   2.092242
강서구    7.405147   3.153165
관악구    6.696174   2.534916
광진구   11.732837   5.201233
구로구    6.309918   2.760141
금천구    5.631871   2.529002
노원구    5.877245   2.229932
도봉구    5.128583   2.042960
동대문구   7.494808   3.174660
동작구   10.682978   3.826730
마포구   11.534964   4.521971
서대문구   8.549396   3.436874
서초구   20.950252  11.865258
성동구   13.157811   7.101933
성북구    7.562147   2.327854
송파구   15.085365   6.670270
양천구   10.337557   5.769617
영등포구  10.171240   6.248346
용산구   18.848251  14.509330
은평구    6.953201   2.752876
종로구    9.577780   6.029280
중구     9.662983   4.937569
중랑구    5.766280   2.447471

In [32]:
apt.groupby(by=['시군구', '계약년도'])['거래금액'].agg(func=['mean', 'std'])

               mean        std
시군구 계약년도
강남구 2020  18.091734   9.278591
    2021  20.401360  12.617316
    2022  19.681054  15.552023
    2023  21.213851  11.798060
    2024  24.068465  13.269380
...             ...        ...
중랑구 2020   5.140478   1.944458
    2021   6.465576   2.492434
    2022   5.095061   3.234133
    2023   5.859839   2.714900
    2024   6.281211   2.471911

[125 rows x 2 columns]

### 피벗 테이블

In [35]:
pd.pivot_table(
    data=apt,
    index='시군구',
    columns='계약년도',
    values='거래금액',
    aggfunc=['mean', 'std'],
    margins=True,
    margins_name='합계'
)

           mean                                                         \
계약년도       2020       2021       2022       2023       2024         합계
시군구
강남구   18.091734  20.401360  19.681054  21.213851  24.068465  20.857690
강동구    8.430835   9.379711   8.563195  10.111379  10.307683   9.412720
강북구    5.678907   6.811051   5.051217   5.365873   6.078881   5.881168
강서구    6.810673   7.971398   6.667495   7.501781   8.165233   7.405147
관악구    6.165280   7.243429   6.316601   6.597542   7.312136   6.696174
광진구   10.740408  12.137479  10.575176  11.851399  12.710686  11.732837
구로구    5.860300   6.755466   5.455951   6.552364   6.871228   6.309918
금천구    5.039003   6.000263   5.252044   5.963669   6.206970   5.631871
노원구    5.245261   6.738040   6.541636   6.034447   6.183278   5.877245
도봉구    4.641939   5.880437   5.637168   5.081960   5.492695   5.128583
동대문구   7.106258   7.672529   6.785472   7.566209   8.014358   7.494808
동작구    9.855672  11.553700  10.076990  10.191388  11.518198  10.682978
마포구   10.280886  11.720268  10.648703  11.571258  12.885731  11.534964
서대문구   7.880776   9.129874   8.313934   8.457920   9.096054   8.549396
서초구   16.939367  19.760312  21.645822  21.922721  25.337217  20.950252
성동구   11.417885  14.438234  14.804187  13.037020  14.192099  13.157811
성북구    6.891281   8.437550   7.818873   7.390275   7.910614   7.562147
송파구   13.040340  15.536845  15.667110  15.498926  16.720822  15.085365
양천구    8.782217  10.177574   9.524501  11.729504  11.980862  10.337557
영등포구   8.956037  10.211260   8.376401  10.104730  12.015032  10.171240
용산구   15.204857  19.784088  21.629112  20.031875  22.044171  18.848251
은평구    6.273339   7.335918   6.299678   7.328232   7.726103   6.953201
종로구    8.715646   9.306151   6.968269  11.005453  11.255536   9.577780
중구     9.377300   9.255687   7.739585   9.763096  10.707046   9.662983
중랑구    5.140478   6.465576   5.095061   5.859839   6.281211   5.766280
합계     8.531711  10.289237  10.002502  10.745149  11.924547  10.111720

           std
계약년도      2020       2021       2022       2023       2024         합계
시군구
강남구   9.278591  12.617316  15.552023  11.798060  13.269380  12.250572
강동구   3.743052   5.111067   5.095245   3.449965   4.190266   4.219959
강북구   1.804197   2.141847   2.837615   2.285725   1.902453   2.092242
강서구   2.656997   3.513168   3.973839   3.117186   3.259521   3.153165
관악구   2.102216   2.883877   3.465928   2.548806   2.318655   2.534916
광진구   4.255555   5.185688   7.212049   5.423124   5.199708   5.201233
구로구   2.350721   3.099274   3.599977   2.755624   2.692961   2.760141
금천구   2.210287   2.870797   3.022761   2.327726   2.321573   2.529002
노원구   2.015290   2.227620   2.386444   2.213258   2.253510   2.229932
도봉구   1.824339   2.239137   2.598827   1.841335   1.976616   2.042960
동대문구  2.784979   3.698481   3.987781   2.914360   3.119547   3.174660
동작구   3.159032   4.297565   5.149344   3.700430   3.784348   3.826730
마포구   3.608802   4.863334   5.391321   4.305952   4.716285   4.521971
서대문구  3.177097   3.701249   3.935204   3.199765   3.455316   3.436874
서초구   8.606133  11.165640  15.806501  11.454423  12.948873  11.865258
성동구   4.745188   7.074730  11.331098   7.586507   7.812217   7.101933
성북구   2.057971   2.470808   3.089387   2.130423   2.244890   2.327854
송파구   5.522678   7.032041   7.684347   6.463698   7.014199   6.670270
양천구   4.873560   5.510687   5.649059   6.012537   6.346167   5.769617
영등포구  4.217034   6.215156   8.181743   6.037574   7.351429   6.248346
용산구   9.148880  14.984532  19.300094  14.424463  17.692072  14.509330
은평구   2.400381   3.052429   3.303721   2.573426   2.657680   2.752876
종로구   4.702587   5.963958   6.297694   6.989707   6.520894   6.029280
중구    3.606033   5.562932   6.178809   6.008375   4.522737   4.937569
중랑구   1.944458   2.492434   3.234133   2.714900   2.471911   2.447471
합계    5.550739   7.350746   9.396945   7.672008   8.787892   7.461396