In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd.__version__

'2.3.3'

In [3]:
os.getcwd()

'/Users/taehyunan/Desktop/Repo/SeSAC/Study/sesac_python_study_repo/project/code/data_basic'

In [4]:
os.chdir('../../data')

In [5]:
sorted(os.listdir())

['.DS_Store',
 'APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_Price_Seoul_Merged_2020~2024.csv',
 'APT_Price_Seoul_Merged_2020~2024.xlsx',
 'APT_Price_Seoul_Split_2020.csv',
 'APT_Price_Seoul_Split_2020~2024.xlsx',
 'APT_Price_Seoul_Split_2021.csv',
 'APT_Price_Seoul_Split_2022.csv',
 'APT_Price_Seoul_Split_2023.csv',
 'APT_Price_Seoul_Split_2024.csv',
 'Marine_Product.csv',
 'Marine_Product.pkl',
 'Marine_Product.xlsx',
 'NA_Sample.xlsx']

In [6]:
[file for file in sorted(os.listdir()) if 'Marine' in file]

['Marine_Product.csv', 'Marine_Product.pkl', 'Marine_Product.xlsx']

In [7]:
df = pd.read_pickle('Marine_Product.pkl')
df.head()

,stdYymm,nationCode,mprcExipitmCode,imxprtSeCode,nationNm,ecoblNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
0,202501,JP,1604161000,I,일본,아시아.태평양 경제협력체/경제협력개발기구,멸치(조제/밀폐용기에 넣은 것),수입,.141,48
1,202501,JP,1605569010,I,일본,아시아.태평양 경제협력체/경제협력개발기구,"클램, 새조개 및 피조개 기타(조제 또는 저장처리)(밀폐용기에 넣은 것)",수입,.248,6
2,202501,JP,1605571000,E,일본,아시아.태평양 경제협력체/경제협력개발기구,전복(밀폐용기에넣은것),수출,1504,63487
3,202501,JP,1605579000,E,일본,아시아.태평양 경제협력체/경제협력개발기구,전복(조제 또는 저장처리) 기타,수출,100,6063
4,202501,JP,1604169000,E,일본,아시아.태평양 경제협력체/경제협력개발기구,전갱이(조제/밀폐용기에 넣은 것 이외 기타),수출,16790,232459

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2365 entries, 0 to 2364
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stdYymm             2365 non-null   object
 1   nationCode          2365 non-null   object
 2   mprcExipitmCode     2365 non-null   object
 3   imxprtSeCode        2365 non-null   object
 4   nationNm            2365 non-null   object
 5   ecoblNm             2365 non-null   object
 6   mprcExipitmNm       2365 non-null   object
 7   imxprtSeNm          2365 non-null   object
 8   imxprtWt            2365 non-null   object
 9   imxprtDollarAmount  2365 non-null   object
dtypes: object(10)
memory usage: 184.9+ KB

In [9]:
df.columns

Index(['stdYymm', 'nationCode', 'mprcExipitmCode', 'imxprtSeCode', 'nationNm',
       'ecoblNm', 'mprcExipitmNm', 'imxprtSeNm', 'imxprtWt',
       'imxprtDollarAmount'],
      dtype='object')

In [10]:
# 필요한 열 선택
cols = ['stdYymm', 'nationNm', 'mprcExipitmNm', 'imxprtSeNm', 'imxprtWt', 'imxprtDollarAmount']

df = df[cols]
df.head()

,stdYymm,nationNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
0,202501,일본,멸치(조제/밀폐용기에 넣은 것),수입,.141,48
1,202501,일본,"클램, 새조개 및 피조개 기타(조제 또는 저장처리)(밀폐용기에 넣은 것)",수입,.248,6
2,202501,일본,전복(밀폐용기에넣은것),수출,1504,63487
3,202501,일본,전복(조제 또는 저장처리) 기타,수출,100,6063
4,202501,일본,전갱이(조제/밀폐용기에 넣은 것 이외 기타),수출,16790,232459

In [11]:
df.columns = ['기준년월', '국가명', '수산물명', '수출입구분', '수출입중량', '수출입달러']
df.head()

     기준년월 국가명                                      수산물명 수출입구분  수출입중량   수출입달러
0  202501  일본                         멸치(조제/밀폐용기에 넣은 것)    수입   .141      48
1  202501  일본  클램, 새조개 및 피조개 기타(조제 또는 저장처리)(밀폐용기에 넣은 것)    수입   .248       6
2  202501  일본                              전복(밀폐용기에넣은것)    수출   1504   63487
3  202501  일본                         전복(조제 또는 저장처리) 기타    수출    100    6063
4  202501  일본                  전갱이(조제/밀폐용기에 넣은 것 이외 기타)    수출  16790  232459

In [12]:
# 고유값 확인
df['수산물명'].nunique()

288

In [13]:
df['수산물명'] = df['수산물명'].str.replace(pat='\(.+', repl='', regex=True) \
                            .str.replace(pat=',.+', repl='', regex=True) \
                            .str.replace(pat=' 기타.*', repl='', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
/var/folders/s9/t88_hqjx117_x3pdynjz2nf00000gn/T/ipykernel_97442/4120468390.py:1: SyntaxWarning: invalid escape sequence '\('
  df['수산물명'] = df['수산물명'].str.replace(pat='\(.+', repl='', regex=True) \

In [14]:
df['수산물명'].nunique()

184

In [15]:
df.head()

     기준년월 국가명 수산물명 수출입구분  수출입중량   수출입달러
0  202501  일본   멸치    수입   .141      48
1  202501  일본   클램    수입   .248       6
2  202501  일본   전복    수출   1504   63487
3  202501  일본   전복    수출    100    6063
4  202501  일본  전갱이    수출  16790  232459

In [16]:
df.dtypes

기준년월     object
국가명      object
수산물명     object
수출입구분    object
수출입중량    object
수출입달러    object
dtype: object

In [17]:
df['수출입달러'] = df['수출입달러'].astype(float)
df['수출입중량'] = df['수출입중량'].astype(float)
df.dtypes

기준년월      object
국가명       object
수산물명      object
수출입구분     object
수출입중량    float64
수출입달러    float64
dtype: object

In [18]:
df.head()

     기준년월 국가명 수산물명 수출입구분      수출입중량     수출입달러
0  202501  일본   멸치    수입      0.141      48.0
1  202501  일본   클램    수입      0.248       6.0
2  202501  일본   전복    수출   1504.000   63487.0
3  202501  일본   전복    수출    100.000    6063.0
4  202501  일본  전갱이    수출  16790.000  232459.0

In [19]:
df['수출입달러'].sum()

np.float64(834331861.0)

In [20]:
df.groupby('수출입구분')['수출입달러'].sum()

수출입구분
수입    200129388.0
수출    634202473.0
Name: 수출입달러, dtype: float64

In [21]:
cond = df['수출입구분'].eq('수출')
df[cond].groupby('수산물명')['수출입달러'].sum().sort_values(ascending=False).head(10)

수산물명
김         215084912.0
다랑어        79502278.0
전복         31691225.0
미역         24603564.0
붕장어        23530384.0
냉동한 것      21021461.0
남방참다랑어     17734437.0
넙치         17617486.0
황새치        16992791.0
눈다랑어       16632048.0
Name: 수출입달러, dtype: float64

In [22]:
cond = df['수출입구분'].eq('수입')
df[cond].groupby('수산물명')['수출입달러'].sum().sort_values(ascending=False).head(10)

수산물명
방어         46674927.0
가리비과의조개    44811976.0
돔          43687212.0
정어리        11244094.0
기타어류        9927289.0
게           3794321.0
생선묵         3446541.0
캐비아 대용물     3096568.0
명태          3000301.0
기타 포유동물     2703766.0
Name: 수출입달러, dtype: float64

In [27]:
pd.pivot_table(df, index='수산물명', columns='수출입구분', values='수출입달러', aggfunc='sum', fill_value=0,
                margins=True, margins_name='합계').sort_values(by='수출', ascending=False).to_excel('Pivot_Table_Marine.xlsx')